body {
    font-family: fantasy;
}

.banner {
    font-size: 70px;
}

.alinear-items {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#inicioBoton {
    padding-left: 50px;
    padding-right: 50px;
}


.texto {
    text-align: center;
    border: solid 1px red;
    position: relative;
    margin-top: auto;
}

.footer {
    position: fixed;
    bottom: 0;
    background-color: rgb(58, 58, 58);
    width: 100%;
    color: #ffffff;
}