{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'recursosHumanos/CSS/styleInicio.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <title>Document</title>
</head>

<body>
    <main>
        <div>
            <nav class="navbar bg-primary-subtle">
                <div class="container-fluid">
                    <a class="navbar-brand" href="{% url 'inicio' %}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-file-earmark-person-fill" viewBox="0 0 16 16">
                            <path
                                d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0M9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1M11 8a3 3 0 1 1-6 0 3 3 0 0 1 6 0m2 5.755V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1v-.245S4 12 8 12s5 1.755 5 1.755" />
                        </svg>
                        Recursos Humanos
                    </a>
                    <ul class="nav justify-content-end">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Exit
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-box-arrow-right" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd"
                                        d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0z" />
                                    <path fill-rule="evenodd"
                                        d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708z" />
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </main>
    <section class="container mt-2">
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
                <a class="navbar-brand fw-bold" href="{% url 'inicio' %}">
                    EMPLEADOS
                </a>
                <!-- Botón hamburguesa -->
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item me-2 mt-1">
                            <button class="btn btn-success" onclick="activarFormulario()">
                                <!--<button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#registroEmpleado">-->
                                Adcionar Empleado
                            </button>
                        </li>
                        <li class="nav-item me-2 mt-1">
                            <a class="btn btn-primary" href="{% url 'areas' %}">
                                Areas de trabajo
                            </a>
                        </li>
                        <li class="nav-item me-2 mt-1">
                            <a class="btn btn-primary" href="{% url 'inicio' %}">
                                Inicio
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </section>
    <section>
        {% block lista_empleados %}
        {% endblock %}
    </section>
    <section>
        {% block update_empleado %}
        {% endblock %}
    </section>
    <section>
        {% block areas_trabajo %}
        {% endblock areas_trabajo %}
    </section>
    <section>
        {% block novedades %}
        {% endblock %}
    </section>
    <!-- Modal -->
    <div class="contenedor-formulario-registro oculto">
        <form method="POST" action="{% url 'crear_empleado'%}">
            {% csrf_token %}
            {{form}}
            <div class="contenedor-formularios">
                <div class="form-empleado visible">
                    <div class="row">
                        <h2>Crear Empleado</h2>
                        <div class="col-md-6 sm-12">
                            <select class="form-select form-select-lg mb-3" aria-label="Large select"
                                name="tipo_documento">
                                <option value="1">CC - Cedula</option>
                                <option value="2">PS - Pasaporte</option>
                                <option value="3">CE - Cedula Extranjera</option>
                                <option value="4">PT - Permiso Temporal</option>
                                <option value="5">TI - Tarjeta de Identidad</option>
                            </select>
                        </div>
                        <div class="col-md-6 sm-12">
                            <div class="form-floating mb-3">
                                <input type="int" class="form-control campo-requerido" id="floatingInput" placeholder="Documento"
                                    name="documento" required>
                                <label for="floatingInput">Documento</label>
                            </div>
                        </div>
                        <div class="col-md-6 sm-12">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control campo-requerido" id="floatingInput" placeholder="Primer nombre"
                                    name="primer_nombre" required>
                                <label for="floatingInput">Primer Nombre</label>
                            </div>
                        </div>
                        <div class="col-md-6 sm-12">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="floatingInput" placeholder="Segundo nombre"
                                    name="segundo_nombre">
                                <label for="floatingInput">Segundo Nombre</label>
                            </div>
                        </div>
                        <div class="col-md-6 sm-12">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control campo-requerido" id="floatingInput" placeholder="Primer apellido"
                                    name="primer_apellido" required>
                                <label for="floatingInput">Primer Apellido</label>
                            </div>
                        </div>
                        <div class="col-md-6 sm-12">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="floatingInput"
                                    placeholder="Segundo apellido" name="segundo_apellido">
                                <label for="floatingInput">Segundo Apellido</label>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-floating mb-3">
                                <input type="email" class="form-control campo-requerido" id="floatingInput" placeholder="Correo"
                                    name="correo" required>
                                <label for="floatingInput">Correo</label>
                            </div>
                        </div>
                    </div>
                    <button type="button" class="btn btn-primary" onclick="activarFormularioContrato()">Continuar</button>
                    <button type="button" class="btn btn-danger" onclick="activarFormulario()">Cerrar</button>
                </div>
                <div class="form-contrato oculto">
                    <div class="row">
                        <div class="col-md-6 sm-12">
                            <select class="form-select form-select-lg mb-3 campo-requerido" aria-label="Large select" name="tipo_contrato" required>
                                <option value="" selected>Seleccione tipo de contrato</option>
                                {% for tipo_contrato in tipos_contrato %}
                                <option value="{{tipo_contrato.id}}">{{tipo_contrato.tipo_contrato}}
                                </option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-md-6 sm-12">
                            <div class="form-floating mb-3">
                                <input type="date" class="form-control campo-requerido" id="floatingInput" placeholder="Fecha ingreso"
                                    name="fecha_ingreso" required>
                                <label for="floatingInput">Fecha Ingreso</label>
                            </div>
                        </div>
                        <div class="col-md-6 sm-12">
                            <select class="form-select form-select-lg mb-3 campo-requerido" aria-label="Large select" name="cargo" required>
                                <option value="" selected>Seleccione tipo de cargo</option>
                                {% for cargo in cargos %}
                                <option value="{{cargo.id}}">{{cargo.cargo}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-md-6 sm-12">
                            <select class="form-select form-select-lg mb-3 campo-requerido" aria-label="Large select" name="area" required>
                                <option value="" selected>Seleccione tipo de área</option>
                                {% for area in areas %}
                                <option value="{{area.id}}">{{area.area}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-md-6 sm-12">
                            <div class="form-floating mb-3">
                                <input type="number" class="form-control campo-requerido" id="floatingInput" placeholder="Salario"
                                    name="salario" required>
                                <label for="floatingInput">Salario</label>
                            </div>
                        </div>
                        <div class="col-md-6 sm-12">
                            <button type="submit" class="btn btn-success" onclick="validar()">Guardar</button>
                        </div>
                    </div>
                    <button type="button" class="btn btn-primary" onclick="activarFormularioEmpleado()">Regresar</button>
                    <button type="button" class="btn btn-danger" onclick="activarFormulario()">Cerrar</button>
                </div>
            </div>
        </form>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"></script>
    <script src="{% static 'recursosHumanos/JS/Inicio.js'%}"></script>
</body>

</html>