{% extends "home.html" %}

{% block main %}

<div class="actions">
    <a href="{% url 'inventario:crear_categoria' %}" class="btn btn-auto">
        + Crear nueva Categoria
    </a>
</div>

<div class="main-cards">
    <div class="card">
        <h3>Gestión de Categorias</h3>

        <div class="table-container">
            <div class="table-scroll">
                <table class="custom-table">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Descripción</th>
                            <th>Fecha Creacion</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>

                    <tbody>

                        {% for categoria in categorias %}
                        <tr>
                            <td>{{ categoria.nombre_categoria }}</td>
                            <td>{{ categoria.descripcion_categoria }}</td>
                            <td>{{ categoria.fecha_creacion_categoria|date:"d/m/Y H:i" }}</td>

                            <td class="acciones">

                                <a href="{% url 'inventario:actualizar_categoria' categoria.id %}" class="btn small edit">
                                    Editar
                                </a>

                                <a href="{% url 'inventario:eliminar_categoria' categoria.id %}" class="btn small delete">
                                    Eliminar
                                </a>

                            </td>
                        </tr>

                        {% empty %}
                        <tr>
                            <td colspan="4">No hay categorias registradas</td>
                        </tr>
                        {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}