{% extends "home.html" %}

{% block main %}

<div class="form-section">
    <div class="card form-card">
        {% if prestamo %}
            <h2>Actualizar Préstamo</h2>
            <form method="POST" action="{% url 'inventario:actualizar_prestamo' prestamo.id %}">
        {% else %}
            <h2>Registrar Préstamo</h2>
            <form method="POST" action="{% url 'inventario:guardar_prestamo' %}">
        {% endif %}

            {% csrf_token %}

            <div class="form-group">
                <label>Fecha devolución esperada</label>
                {{ formulario.fecha_devolucion_esperada }}
            </div>
            {% if prestamo %}
                <div class="form-group">
                    <label>Fecha devolución</label>
                    {{ formulario.fecha_devolucion }}
                </div>
                <div class="form-group">
                    <label>Observaciones devolución</label>
                    {{ formulario.observaciones_devolucion }}
                </div>
            {% endif %}
            <div class="form-group">
                <label>Estado préstamo</label>
                {{ formulario.estado_prestamo }}
            </div>
            {% if not prestamo %}
                <div class="form-group">
                    <label>Observaciones entrega</label>
                    {{ formulario.observaciones_entrega }}
                </div>
                <div class="form-group">
                    <label>Item</label>
                    {{ formulario.item }}
                </div>
            {% endif %}
            <div class="form-buttons">
                <button type="submit" class="btn">
                    Guardar
                </button>
            </div>
        </form>
    </div>
</div>
{% endblock %}