{% extends "home.html" %}

{% block main %}

<div class="form-section">
    <div class="card form-card">

        {% if categoria %}
            <h2>Actualizar Categoría</h2>
            <form method="POST" action="{% url 'inventario:actualizar_categoria' categoria.id %}">
        {% else %}
            <h2>Crear Categoría</h2>
            <form method="POST" action="{% url 'inventario:guardar_categoria' %}">
        {% endif %}

        {% csrf_token %}

        <div class="form-group">
            <label>Nombre Categoría</label>
            {{ formulario.nombre_categoria }}
        </div>

        <div class="form-group">
            <label>Descripción Categoría</label>
            {{ formulario.descripcion_categoria }}
        </div>

        <div class="form-buttons">
            <button type="submit" class="btn">
                Guardar
            </button>
        </div>
        </form>
    </div>
</div>

{% endblock %}