{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventario académico</title>

    <link rel="stylesheet" href="{% static 'inventario/home.css' %}">
</head>
<body>

<header>
    <div class="hero">
        <h2>Inventario académico</h2>
        <p>Gestiona productos, préstamos y control de stock de forma eficiente</p>
    </div>
    <div class="header-container">
        <h1>Inventario académico</h1>
        <nav>
            <ul>
                    <li><a href="{% url 'home_general' %}">Inicio general</a></li>
                <li><a href="{% url 'inventario:home' %}">Inventario</a></li>
                <li><a href="{% url 'academica_inicio' %}">Gestión Académica</a></li>
                <li><a href="{% url 'contabilidad_inicio' %}">Contabilidad</a></li>
                <li><a href="/rrhh/inicio/">Recursos Humanos</a></li>
                <li><a href="{% url 'solicitudes:home' %}">Solicitudes</a></li>
            </ul>
        </nav>
    </div>
</header>

<main>
    {% if messages %}
        <div class="messages">
            {% for message in messages %}
                <div class="alert {{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    {% endif %}
    
    {% block main %}
    {% endblock %}
</main>

</body>
</html>





