{% extends "home.html" %}

{% block main %}

<div class="actions">
    <a href="{% url 'inventario:crear_prestamo' %}" class="btn">
        + Crear nuevo Préstamo
    </a>
</div>

<div style="margin: 40px;">
    <div class="card">
        <h2 style="margin-bottom: 25px;">
            Gestión de Préstamos
        </h2>
        <div class="table-container">
            <div class="table-scroll">
                <table class="custom-table">
                    <thead>
                        <tr>
                            <th>Fecha préstamo</th>
                            <th>Fecha devolución esperada</th>
                            <th>Fecha devolución</th>
                            <th>Estado</th>
                            <th>Observaciones entrega</th>
                            <th>Observaciones devolución</th>
                            <th>Item</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for prestamo in prestamos %}
                        <tr>
                            <td>
                                {{ prestamo.fecha_prestamo|date:"d/m/Y" }}
                            </td>
                            <td>
                                {{ prestamo.fecha_devolucion_esperada|date:"d/m/Y" }}
                            </td>
                            <td>
                                {{ prestamo.fecha_devolucion|date:"d/m/Y" }}
                            </td>
                            <td>
                                {{ prestamo.get_estado_prestamo_display }}
                            </td>
                            <td>
                                {{ prestamo.observaciones_entrega }}
                            </td>
                            <td>
                                {{ prestamo.observaciones_devolucion }}
                            </td>
                            <td>
                                {{ prestamo.item.nombre_item }}
                            </td>
                            <td>
                                <div class="acciones">
                                    <a href="{% url 'inventario:actualizar_prestamo' prestamo.id %}"
                                       class="btn small edit">
                                        Editar
                                    </a>
                                    <a href="{% url 'inventario:eliminar_prestamo' prestamo.id %}"
                                       class="btn small delete">
                                        Eliminar
                                    </a>
                                </div>
                            </td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="8">
                                No hay préstamos registrados
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}