{% load static %}

<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema de Solicitudes</title>
    <link rel="stylesheet" type="text/css" href="{% static 'solicitudes/style_home.css' %}">
</head>
<body>
    <div class="header">
        <h2 style="margin: 0;">Solicitudes</h2>
        <div>
            <a href="{% url 'home_general' %}">Inicio general</a>
            <a href="{% url 'inventario:home' %}">Inventario</a>
            <a href="{% url 'academica_inicio' %}">Gestión Académica</a>
            <a href="{% url 'contabilidad_inicio' %}">Contabilidad</a>
            <a href="/rrhh/inicio/">Recursos Humanos</a>
        </div>
    </div>
    <div class="hero">
        <h1>Sistema de Solicitudes, Quejas y Reclamos</h1>
        <p>Gestiona de forma rapida y sencilla tus solicitudes dentro de la universidad.</p>
        <a class="boton-principal" href="{% url 'solicitudes:lista_todas' %}">Ingresar al sistema</a>
        <div class="cards">
            <div class="card">
                <h3>Solicitudes</h3>
                <p>Realiza tramites como certificados, cambios de horario o solicitudes academicas.</p>
                <div class="div-content">
                    <div class="div-redirect">
                        <a href="{% url 'solicitudes:lista_solicitudes' tipo='solicitud' %}">Ver Solicitudes</a>
                        <a href="{% url 'solicitudes:crear_tipo' tipo='solicitud' %}">Crear Solicitud</a>
                    </div>
                </div>
            </div>
            <div class="card">
                <h3>Quejas</h3>
                <p>Puedes reportar inconformidades relacionadas con servicios, clases, profesores o procesos.</p>
                <div class="div-content">
                    <div class="div-redirect">
                        <a href="{% url 'solicitudes:lista_solicitudes' tipo='queja' %}">Ver Quejas</a>
                        <a href="{% url 'solicitudes:crear_tipo' tipo='queja' %}">Crear Queja</a>
                    </div>
                </div>
            </div>
            <div class="card">
                <h3>Reclamos</h3>
                <p>Presenta reclamaciones formales sobre situaciones que afecten o vulneren tus derechos.</p>
                <div class="div-content">
                    <div class="div-redirect">
                        <a href="{% url 'solicitudes:lista_solicitudes' tipo='reclamo' %}">Ver Reclamos</a>
                        <a href="{% url 'solicitudes:crear_tipo' tipo='reclamo' %}">Crear Reclamo</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>



